* {
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color_slider_text:white;
}

.slider img {
    width: 100%;
    max-height: 90vh;
    opacity: 1;
}

.slider_text {

    position: absolute;
    bottom: 5rem;
    color: whitesmoke;
    margin-left: 1.5rem;
}

.slide_text1 {
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: bold;
    padding-top: 2rem;
    color: var(--color_slider_text)
}

.slide_text2 {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: bolder;
    color: var(--color_slider_text)
}

.slide_text3 {
    font-size: 6rem;
    font-family: var(--font1);
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 2;

    color: var(--color_slider_text);
}

.slide_text4 {
    font-size: 1.3rem;
    font-family: var(--font2);
    color: var(--color_slider_text)
}

.slide_text5 {
    color: black;
    background-color: white;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: bolder;
    padding: 1.2rem 1.4rem;
    margin-top: 1.3rem;
    cursor: pointer;
    transition: 0.5s ease-in;
    transition-duration: 5s;
    animation: fillcolor 0.5s 1s infinite;
}

.slide_text5:hover{
    background-color: black;

    color:white;
}


.slider1 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider1img.jpg);
    background-size: cover;
    background-position: top;
}




.slider2 {

    width: 100%;
    height: 90vh;
    background: url(../img/slide2img.jpg);
    background-size: cover;
    background-position: top;

}


.slider3 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider3img.jpg);
    background-size: cover;
    background-position: top;
    
}





.slider4 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider4img.jpg);
    background-size: cover;
    background-position: top;

}



.ml {

    margin-left: 1.5rem;
}

.mt {
    margin-top: 2rem;
}

.slider_dot {
    position: absolute;
    
    bottom:1rem;
    display: flex;

}

.dot{
    padding:0.4rem 1.5rem;

    
    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
background: rgba(245, 245, 245, 0.486);
    
}

.bg_color{
    background-color: whitesmoke;
}