

.web_video{

    border-right: 1px solid black;
position: relative;

width:100%;

margin-top: 2rem;

}

.video{

    width: 100%;
    
    object-position: center;
}

.web_video video{

    width: 100%;
    height: 100%;

}

.video_text{

    
    position: absolute;
    
    bottom:5px;
    
    

    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.487);
   
}

.video_text{

    color: white;
}


.video_text button{

    text-align: center; 

    
    margin-left: 425px;
    background-color: white;
    margin-top: 4rem;
    font-size: 0.9rem;
    font-family:poppins,sans-serif;
    padding:0.6rem 1.5rem;
    outline: none;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    
}





.v_text:before{

    content: "";

    width: 10%;
    height: 0.5vh;
    position: absolute;
    background-color:#d3cdcd;
    right:450px;
    
    bottom:285px;
    
}

.bi-arrow-right-short:hover{

    display: block;
}






