

  @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&family=Space+Mono&family=Yellowtail&display=swap');


:root{

    --monospace: 'Space Mono', monospace;
}





.grid_card{
    width: 100%;

    height: auto;

    
}

.grid_card_text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5rem 0px;

    
    
}


.grid_card_text >p{

    color:silver;
}



.grid_card_hading{
    font-size: 1.7rem;
    font-family: var(--monospace);
    font-weight: bolder;
}

.grid_card_para{
    margin-top: 1.5rem;
    
}

.grid_card_main{


    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    margin: 3rem 3rem;

grid-column-gap: 40px;    

}


.grid_card1{

    grid-row: 1 / span 2;
}



.grid_card1 .grid_card_img{


width:100%;

}

.grid_card1 .grid_card_img img{

    width:100%;
    height: 100%;
}


.grid_card1_text{

    position:relative;
    bottom:17rem;
    color:whitesmoke;
text-align: center;

}

.grid_card_hading{

font-size:2rem;

font-family: var(--monospace);

font-weight: bolder;

}

.grid_card_para{

    font-size:1.1rem;
}

.grid_card_button{

    margin-top:2rem;

    cursor: pointer;
}


.grid_card2 .grid_card2_img img{

    width:100%;
    height: 100%;
    
}


.grid_card3 .grid_card_img img{

    width:100%;

    height: 100%;

}


.grid_card3{
    position: relative;
    bottom:4rem;
}

.grid_card_button::after{

    content:"";
    width:20%;
    height:0.4vh;
    bottom:-0.5rem;
    right:11rem;
    position:absolute;
    background-color: rgb(241, 235, 235);

    transition: all 0.5s ease-in;
}

.grid_card_button:hover::after{


    content:"";
    width:50%;
    height:0.4vh;
    bottom:-0.5rem;
    right:7rem;
    position:absolute;
    background-color: rgb(241, 235, 235);

}


.grid_card1 .grid_card_img{

    overflow: hidden;

}


.grid_card1 .grid_card_img img:hover{

    transform: scale(1.1);
    transition: all 0.5s ease-in;
}




.grid_card2 .grid_card2_img{

    overflow: hidden;

}


.grid_card2 .grid_card2_img img:hover{

    transform: scale(1.1);
    transition: all 0.5s ease-in;
}





.grid_card3 .grid_card_img{

    overflow: hidden;

}


.grid_card3 .grid_card_img img:hover{

    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

