@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;1,100&family=Yellowtail&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&family=Yellowtail&display=swap');


:root {
    --font1: 'Poppins', sans-serif;
    --font2: 'League Spartan', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    
}

.navbar {

    background: whitesmoke;
    display: flex;
    
    width: 100%;

}

.list_holder {

    display: flex;

    height: 20vh;

    align-items: center;
    list-style: none;
    margin-left: 1rem;
    gap: 2rem;
}

.brand {
    font-size: 4rem;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    font-family: var(--font2);

}

.list_holder li {

    
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    font-family: var(--font2);
    position: relative;
}

.sub_list_home {
    background: whitesmoke;
    position: absolute;
    top: 8.3rem;
    list-style: none;
    min-width: 30vw;
    left: 1.5rem;
    height: 45vh;
}

.sub_list_home li {
    padding: 2rem 0px;
    margin-left: 1rem;
}

.sub_list_blog {

    background: whitesmoke;
    position: absolute;
    top: 8.3rem;
    list-style: none;
    min-width: 30vw;
    left: 10rem;
    transition: 0.3s ease-in;
    height: 40vh;
}



.sub_list_blog li {
    padding: 1.6rem 0px;
    
    margin-left: 1rem;
}

.d_none {
    display: none;
}

.list_holder li:after {

    content: "";
    position: absolute;

    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.list_holder li:hover::after {
    width: 100%;
    background-color: black;
}





.search_area {

    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    z-index: 50;
    align-items: center;
    position: fixed;
    transition: 0.5s ease-in-out;

    background: whitesmoke;


    

}

.search_area_top {
    transform: translateY(-80rem);
}


.close {
    margin-top: 2rem;
}


.search_box {

    margin-top: 4rem;
}

.search_input {
    width: 80vw;

    height: 5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    background: whitesmoke;
}

.search_input:focus {
    outline: none;
}


.search_input::placeholder {
    font-size: 1.1REM;
}


.search_box_search {
    font-size: 1.1rem;
    font-family: var(--font1);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.close:hover {
    transform: scale(1.3);
}


.search_box_contaner {
    border: none;
    border-bottom: 2px solid black;

}


.search_trand {
    margin-top: 1.5rem;
    font-family: var(--font1);

}

.search_trand_hadd {
    font-weight: bold;
    font-size: 0.9rem;
}

.search_trand_item {
    font-size: 0.9rem;
    color: #b4b4b4;
}

.account_list{
    
    position: absolute;
    top: 130px;
right: 100px;
list-style: none;
height: 38vh;
width: 20%;

background-color: whitesmoke;
}

.account_list li{
    padding: 1rem;
    margin-left: 1rem;
    
    
}



